body {
  margin: 0 !important;
  background-color: #1e192c;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.514);
  font-size: 1rem;
}

input {
  background-color: #1e192c;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  border: none;
}
